h1{
    color: red;
    font-size: 90px;
}
h2{
    color: #ff00e9;
    font-size: 40px;
}
h3{
    color: red;
    font-size: 90px;
}
.naocentralizado{
    display: flex;
    text-align: left;
}
.centralizador{
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}
body{
    background: url("https://wallpaperaccess.com/full/774615.jpg");
   color: green;
   font-size: 30px;
   background-size: cover;
}
a{
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.backgroundmhw{
    background: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/991980/8d1d6b0539973d1ec49ace0bcd67dc9f061b338b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundassassin{
    background: url("http://images6.fanpop.com/image/photos/35100000/Assassin-s-Creed-the-assassins-35134583-1280-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.backgroundsaints{
    background: url("https://images3.alphacoders.com/149/thumb-1920-149829.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fontmhw{
    font-family: 'Covered By Your Grace', cursive;
}
.container{
 background-color: aliceblue;
 height: auto;
}
.menu{
    display: block;
}
.descricao{
    color: rgb(252, 248, 248);
    font-size: 30px;
    background-color: #2f2b22;
    border-radius: 30px;
    }
    }
    .descricaomhw{
        color: rgb(86, 241, 14);
        font-size: 30px;
    }
   .centralizadorassassin{
       text-align: center;
   }
   .centralizadorrow{
        text-align: center;
   }
   .fontassassin{
    font-family: 'Aguafina Script', cursive;
   }
   .descricaoassassin{
    color: rgb(241, 8, 8);
    font-size: 21px;
   }
   .descricao2{
    color: rgb(241, 8, 8);
    font-size: 40px;
   }
.ladodireito{
    display: flex;
    text-align: left
    align-content: left;
    justify-content: left;
    flex-direction: column;
}
.fonterow{
    font-family: 'Indie Flower', cursive;
}

.descricaorow{
    color: #ff00e9;
    font-size: 40px;
}
.inicio{
    color: rgb(253, 0, 0);
    font-size: 30px;
    border-radius: 25px;
    background-color:rgb(0, 0, 0);
}